<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item {{ active.home }}" href="/">Home</a>
      <a class="blog-nav-item {{ active.about }}" href="/about.html">About</a>
      <a class="blog-nav-item" href="mailto:board@hacksburg.org">Email</a>
      <a class="blog-nav-item" href="/join.html">Join Hacksburg</a>
      <a class="blog-nav-item" href="http://wiki.hacksburg.org">Wiki</a>
      <a class="blog-nav-item" href="https://www.facebook.com/groups/405322866198425/">Facebook</a>
      <a class="blog-nav-item" href="https://twitter.com/hacksburg">Twitter</a>
      <a class="blog-nav-item" href="https://github.com/hacksburg">Github</a>
    </nav>
  </div>
</div>
