<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item {{ active.home }}" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      <a class="blog-nav-item {{ active.about }}" href="/about.html"><i class="fa fa-info-circle" aria-hidden="true"></i>
 About</a>
      <a class="blog-nav-item" href="/contact.html"><i class="fa fa-send-o" aria-hidden="true"></i> Contact Us</a>
      <a class="blog-nav-item" href="/join.html"><i class="fa fa-rocket" aria-hidden="true"></i> Join Hacksburg</a>
      <a class="blog-nav-item" href="http://wiki.hacksburg.org"><i class="fa fa-file-text-o" aria-hidden="true"></i> Wiki</a>
    </nav>
  </div>
</div>
