<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hacksburg is Blacksburg's first community makerspace. We're graciously
      hosted by the Virginia Tech Corporate Research Center at 2200 Kraft
      Drive, Suite 1475.</p>
    <p>Makerspaces (also known as hackerspaces) are community-oriented workshops
      where people share physical and intellectual resources. Hacksburg is a
      place to collaborate, a place to learn, and a place to work on projects
      that you might not be able to work on at home.</p>
  </div>
  <div class="sidebar-module">
    <h4>Map</h4>
    <iframe width="100%"
      height="450"
      frameborder="0" 
      style="border:0" 
      src="https://www.google.com/maps/embed/v1/place?q=2200%20Kraft%20Drive%2C%20Blacksburg%2C%20VA%2C%20United%20States&key=AIzaSyDtsXipT5vpGJjYylfaZtZhYbELULM4bEk&zoom=13"></iframe>
  </div>
  <div class="sidebar-module">
    <h4>Calendar</h4>
    <iframe src="https://www.google.com/calendar/embed?src=hacksburg%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/hacksburg">GitHub</a></li>
      <li><a href="https://twitter.com/hacksburg">Twitter</a></li>
      <li><a href="https://www.facebook.com/groups/405322866198425/">Facebook</a></li>
    </ol>
  </div>
</div>
