<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module">
    <h4>SpaceCam</h4>
    <img src="http://bonafidegeek.com:8080/?action=stream&.jpg?320&nolink" height="320px" />
  </div>
  <!-- <div class="sidebar-module">
    <h4>Space Status</h4>
    <div id="status"></div>
    <script>
      $.getJSON('http://wiki.hacksburg.org/status.json', function(data) {
        var liststart = '<ul>';
        var listend = '</ul>';
        var statuslist = liststart.concat('');
                
        if (data.state.open == true) {
          statuslist = statuslist.concat('<li class="open">Hacksburg is Open!</li>');
        }
        else {
          statuslist = statuslist.concat('<li class="closed">Hacksburg is Closed.</li>');
        }
                
        statuslist = statuslist.concat(listend);
                
        $('#status').append(statuslist);
      })
      .fail(function() {
        $('#status').append('<p class="closed">Cannot get JSON data. Something may be wrong with the server.</p>');
      });
    </script>
  </div> -->
  <div class="sidebar-module">
    <h4>Calendar</h4>
    <iframe src="https://www.google.com/calendar/embed?src=hacksburg%40gmail.com&amp;title=Hacksburg&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23000000&amp;ctz=America%2FNew_York"
    style=" border-width:0 "
    width="100%"
    height="300"
    frameborder="0"
    scrolling="no"></iframe>
  </div>
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hacksburg is Blacksburg's first community makerspace. We're graciously
      hosted by the Virginia Tech Corporate Research Center at 2200 Kraft
      Drive, Suite 1475.</p>
    <p>To get in, first try going around to the back and knocking on the garage door.
    Someone will come around to let you in.</p>
    <p>Makerspaces (also known as hackerspaces) are community-oriented workshops
      where people share physical and intellectual resources. Hacksburg is a
      place to collaborate, a place to learn, and a place to work on projects
      that you might not be able to work on at home.</p>
  </div>
  <div class="sidebar-module">
    <h4>Donate to Hacksburg</h4>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="KVUGMTXUKKPAQ" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <p>The proceeds from this button go to fund Hacksburg's operations. <strong>Donations made to Hacksburg are not tax-deductible.</strong></p>
  </div>
</div>
