<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module">
    <!--<h4>Space Status</h4>
    <div id="status"></div>
    <script>
      $.getJSON('http://wiki.hacksburg.org/status.json', function(data) {
        var liststart = '<ul>';
        var listend = '</ul>';
        var statuslist = liststart.concat('');
                
        if (data.state.open == true) {
          statuslist = statuslist.concat('<li class="open">Hacksburg is Open!</li>');
        }
        else {
          statuslist = statuslist.concat('<li class="closed">Hacksburg is Closed.</li>');
        }
                
        statuslist = statuslist.concat(listend);
                
        $('#status').append(statuslist);
      })
      .fail(function() {
        $('#status').append('<p class="closed">Cannot get JSON data. Something may be wrong with the server.</p>');
      });
    </script>
  </div> -->
  <div class="sidebar-module">
    <h4>Calendar</h4>
    <iframe src="https://www.google.com/calendar/embed?src=hacksburg%40gmail.com&amp;title=Hacksburg&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23000000&amp;ctz=America%2FNew_York"
    style=" border-width:0 "
    width="100%"
    height="300"
    frameborder="0"
    scrolling="no"></iframe>
  </div>
  <!-- <div class="sidebar-module">
    <h4>Map</h4>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d794.5091616308582!2d-80.40797099999996!3d37.199359000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884d9456512b06f1%3A0x59f7d1e3f1e84920!2sHacksburg!5e0!3m2!1sen!2sus!4v1396977663157&zoom=14"
    width="100%"
    height="300"
    frameborder="0"
    style="border:0"></iframe>
    <iframe width="100%"
      height="300"
      frameborder="0" 
      style="border:0" 
      src="https://www.google.com/maps/embed/v1/place?q=Hacksburg,2200+Kraft+Drive,Blacksburg,VA+24060&key=AIzaSyDtsXipT5vpGJjYylfaZtZhYbELULM4bEk&zoom=13"></iframe>
      <iframe width="100%" 
      height="300" 
      frameborder="0" 
      style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?origin=Blacksburg%2C%20VA%2C%20United%20States&destination=Hacksburg,+Kraft+Drive,+Blacksburg,+VA,+United+States&key=AIzaSyDtsXipT5vpGJjYylfaZtZhYbELULM4bEk"></iframe>
  </div> -->
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hacksburg is Blacksburg's first community makerspace. We're graciously
      hosted by the Virginia Tech Corporate Research Center at 2200 Kraft
      Drive, Suite 1475.</p>
    <p>To get in, first try going around to the back and knocking on the garage door.
    Someone will come around to let you in.</p>
    <p>Makerspaces (also known as hackerspaces) are community-oriented workshops
      where people share physical and intellectual resources. Hacksburg is a
      place to collaborate, a place to learn, and a place to work on projects
      that you might not be able to work on at home.</p>
  </div>
  <!--<div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/hacksburg">GitHub</a></li>
      <li><a href="https://twitter.com/hacksburg">Twitter</a></li>
      <li><a href="https://www.facebook.com/groups/405322866198425/">Facebook</a></li>
    </ol>
  </div> -->
  <div class="sidebar-module">
    <h4>Donate to Hacksburg</h4>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="KVUGMTXUKKPAQ" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <p>The proceeds from this button go to fund Hacksburg's operations. <strong>Donations made to Hacksburg are not tax-deductible.</strong></p>
  </div>
</div>
