:root {
	--darker-green: #00b300;
	--lighter-green: #00cf00;
	--tomato: tomato;
	--tomato-soup: #ff5537;
	--white: #ffffff;
	--offwhite: #d5d5d5;
	--black: #000000;
	--offblack: #151920;
}

html{
	scroll-behavior: smooth;
}

::selection {
	color: var(--darker-green);
}

@font-face {
	font-family: "Electrolize";
	src: url("Electrolize-Regular.ttf");
}

body {
	margin: 0;
	background-color: var(--white);
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#header {
	padding: 1.2rem;
	padding-bottom: 1.6rem;
	display: flex;
	width: fit-content;
	overflow: hidden;
	min-height: 6rem;
}

.hacksignia {
	width: 6rem;
	height: 6rem;
	margin-right:.8rem;
}

#hacksignia-dark {
	display: none;
}

#pushpin-dark {
	display: none;
}

#header-text {
	font-family: "Electrolize";
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--black)
}

#header-text > h1 {
	margin:0;
	padding:0;
	font-size: 2rem;
	font-weight: normal;
}

#header-text > h3 {
	margin:0;
	padding:0;
	padding-left:.1rem;
	font-weight: normal;
	width: min-content;
}

.nodecor {
	text-decoration: none;
	color: var(--black);
	transition: color ease-in-out .15s;
}

.noselect {
	user-select: none;
}

.center {
	display: block;
	margin: 0 auto;
}

#page-container {
	max-width: 63rem;
	padding-bottom: 120px;
}

#nav-links {
	font-size:1.65rem;
	font-weight:400;
	margin:0px;
	transition: color .15s ease-in-out, opacity .15s ease-in-out, max-height .15s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: .9rem;
}

#nav-break {
	display: none;
	flex-basis: 100%;
	height: 0;
}

#nav-links > a {
	text-decoration: none;
	color: var(--black);
	transition: color ease-in-out .15s;
	margin-bottom: 1rem;
}

#nav-links > a:hover {
	color: var(--darker-green);
}

#nav-links > #current-page {
	color: var(--darker-green);
	cursor: default;
}

.rule {
	background-color: black;
	height: .1rem;
	width: 100%;
}

.post-text-rule {
	background-color: black;
	height: 2px;
	margin-top:.5rem;
	margin-bottom:1.2rem;
}

.post-text-rule-mini {
	background-color: black;
	height: 2px;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

#bulletin-board {
	margin-top: 3.4rem;
}

.calendar-link {
	padding: .65rem;
	margin-right: 1rem;
	width: fit-content;
	background-color: var(--white);
	border-radius: 50rem;
	align-items: center;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	height: fit-content;
	transition: background-color .15s ease-in-out;
}

.circled-date {
	border-radius: 100%;
	height: 2.2rem;
	width: 2.2rem;
	background-color: var(--darker-green);
	color: var(--white);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.month-and-time {
	padding-left: .45rem;
	padding-right: .5rem;
	color: var(--black);
}

.time {
	font-size: .9rem;
	white-space: nowrap;
}

.title-and-subtitle {
	display: flex;
	flex-direction: column;
	color: var(--white);
}

.title-and-subtitle-wrapper {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.title {
	font-family: Electrolize;
	font-size: 1.9rem;
	margin-bottom: .15rem;
}

.subtitle {
	font-size: 1.05rem;
}

.x-box {
	display: none;
	justify-content: center;
	align-items: center;
	line-height:30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-left: auto;
}

.info {
	justify-content: center;
	align-items: center;
	margin-left: auto;
	font-family: Electrolize;
	font-size: 1.9rem;
	margin-bottom: .15rem;
	display: flex;
	flex-direction: column;
	color: var(--white);
}

.asterisk-li {
	list-style-type: none;
}

@media(any-hover: hover) and (any-pointer: fine) {
	.x-box:hover .x {
		background: var(--lighter-green);
	}
	.x-box:hover .x:after {
		background: var(--lighter-green);
	}
}

.x {
	background: var(--white);
	height: 20px;
	position: relative;
	width: 4px;
	transition: background .15s ease-in-out, transform .15s ease-in-out;
	transform: rotate(-45deg);
}

.x:after {
	background: var(--white);
	content: "";
	height: 4px;
	left: -8px;
	position: absolute;
	top: 8px;
	width: 20px;
	transition: transform .15s ease-in-out, background .15s ease-in-out;
}

.post {
	width: 100%;
	margin-bottom: 6rem;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.post-header {
	background-color: var(--black);
	padding: 1rem;
	display: flex;
	flex-direction: row;
}

.post-body {
	display: flex;
}

.post-image {
	width: 50%;
	object-fit: cover;
	display: block;
}

.post-text {
	width: 50%;
	background-color: var(--white);
	box-sizing: border-box;
	padding: 2rem;
	padding-top: 1.6rem;
	font-size: 1.15rem;
	padding-bottom: 2.5rem;
	line-height: 1.4;
}

.post-text p {
	padding: 0;
	margin-top: 0;
}

.post-text a {
	word-wrap:break-word;
}


.post-text p:last-child {
	margin-bottom: 0;
}

.post-map {
	width: 50%;
	object-fit: cover;
	display: block;
}

#carousel-container {
	width: 50%;
	position: relative;
}

#carousel-container > .post-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#carousel-substitute {
	display: none;
}

.post-image.first {
	opacity: 1;
	z-index: 0;
}

.post-image.second {
	opacity: 1;
	z-index: -1;
}

#carousel-nav {
	width: 100%;
	height: 4rem;
	position: absolute;
	bottom: 0rem;
	z-index: 3;
	display: none; /*display: block; when js is enabled*/
}

.carousel-nav-inner {
	width: 3.75rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: var(--black);
	border-radius: 50rem;
	padding: 0.75rem;
}

.carousel-nav-dot {
	height: 0.75rem;
	width: 0.75rem;
	background-color: var(--white);
	border-radius: 100%;
	cursor: pointer;
}

.carousel-nav-dot.active {
	background-color: var(--darker-green);
}

a {
	color: var(--darker-green);
}

.full-width {
	width: 100%;
}

#donate-button-container {
	margin-bottom:3rem;
}

#donation-jar-container {
	display: flex;
	justify-content: center;
}

#donation-jar {
	max-width: 17rem;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
	cursor: pointer;
}

.donation-method {
	margin-bottom: 3.5rem;
	margin-top: 3rem;
	margin-left: 2.5rem;
}

.post-section {
	margin-bottom: 3rem;
}

.post-section-header {
	font-size: 1.5rem;
}

.post-subsection-header {
	font-size: 1.4rem;
}

.post.pinned .title-and-subtitle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#pinned-post-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 100%;
	justify-content: center;
	margin-top: 2.75rem;
	margin-bottom: 0;
}

#learn-more {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: .5rem;
}

.pushpin {
	height: 1.2rem;
	margin-left: auto;
	margin-right: .3rem;
	padding-top: .45rem;
	padding-left: 1rem;
	user-select: none;
}

.button {
	padding: .9rem;
	width: fit-content;
	background-color: var(--darker-green);
	border: 1px solid var(--darker-green);
	color: var(--white);
	border-radius: 50rem;
	align-items: center;
	font-size: 1.2rem;
	cursor: pointer;
	height: fit-content;
	display: block;
	margin: 0 auto;
	transition: color .15s ease-in-out, border .15s ease-in-out, background-color .15s ease-in-out, filter .15s ease-in-out;
	text-decoration: none;
	user-select: none;
	text-align: center;
}

.button .green {
	color: var(--white);
}

.rsvp-button {
	margin-top: 2.25rem;
	margin-bottom: 1rem;
}

.button:hover {
	background-color: var(--lighter-green);
	border: 1px solid var(--lighter-green);
	filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.2));
}

.button.disabled {
	color: var(--lighter-green);
	background-color: var(--white);
	border: 1px solid var(--lighter-green);
	cursor: auto;
}

.button.unsubscribe {
	color: var(--white);
	background-color: var(--tomato);
	border: 1px solid var(--tomato);
	margin-bottom:3rem;
}

.button.unsubscribe:hover {
	background-color: var(--tomato-soup);
	border: 1px solid var(--tomato-soup);
}

.below-button-text {
	text-align: center;
	margin-top: .5rem;
	font-size: 1rem;
	user-select: none;
}

.past-events-marker {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin-bottom: 6rem;
}

.past-text {
	font-family: "Electrolize";
	height: fit-content;
	font-size: 1.6rem;
}

.past-line {
	height: .1rem;
	max-width: 100%;
	background-color: var(--black);
	flex-grow: 1;
	margin-left: 10px;
}

.membership-options-container {
	display: flex;
	flex-direction: row;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	width: 100%;
}

.membership-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
}

.membership-term {
	padding-right:.25rem;
}

.membership-price {
	font-size: 2rem;
	padding-right:.5rem;
	margin-bottom: 1rem;
}

#student-membership-hint-text {
	display: none;
}

.closeable {
	overflow-y: hidden;
	max-height: 150rem;
	transition-property: all;
	transition-duration: .5s;
}

.closeable-extra-tall {
	max-height: 250rem;
}

.closeable-extra-extra-tall {
	max-height: 350rem;
}

.closeable.closed {
	max-height: 0;
}

@media only screen and (max-width: 66rem){
	#nav-links {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	#bulletin-board {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media only screen and (max-width: 63rem){
	#nav-break {
		display: flex;
	}
	.post-body {
		flex-direction: column;
	}
	#carousel-container {
		width: 100%;
		height: 32rem;
	}
	.post-image {
		width: 100%;
		max-height: 50rem;
		object-fit: cover;
		display: block;
	}
	.post-map {
		width: 100%;
		object-fit: cover;
		height: 25rem;
	}
	.post-text {
		width: 100%;
		background-color: var(--white);
		box-sizing: border-box;
		padding: 1.2rem;
		padding-top: 1.2rem;
		padding-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 50rem) {
	.calendar-link {
		display: none;
	}
	.donation-method {
		margin-left: 0;
	}
}

@media only screen and (max-width: 45rem) {
	.membership-options-container {
		flex-direction: column;
	}
	.membership-option {
		width: 100%;
		padding-bottom: 2.6rem;
	}
	#student-membership-hint-text {
		display: block;
	}
}

@media only screen and (max-width: 35rem) {
	#nav-links {
		font-size: 1.15rem;
	}
	.hacksignia {
		width: 4.5rem;
		height: 4.5rem;
		margin-right:.8rem;
	}
	#header-text > h1 {
		font-size: 1.5rem;
	}
	#header-text > h3 {
		font-size: 1.1rem;
	}
	.title {
		font-family: Electrolize;
		font-size: 1.4rem;
	}
	.subtitle {
		display: none;
	}
	.x-box {
		display: none !important;
	}
	.pushpin {
		display: none !important;
	}
	#bulletin-board {
		margin-top: 2rem;
	}
	#header {
		padding: 1rem;
		padding-bottom: 1.4rem;
		min-height: 4.5rem;
	}
	.post {
		margin-bottom: 4rem;
	}
	.post-text {
		padding: 1rem;
		padding-top: 1rem;
		padding-bottom: 2.5rem;
	}
	.past-events-marker {
		margin-bottom: 4rem;
	}
	.post-image {
		max-height: 40rem;
	}
	#bulletin-board {
		padding: 0;
		margin-top: 0;
	}
	#nav-links {
		margin-left: .75rem;
		margin-right: .75rem;
	}
	.rule {
		display: none;
	}
	#carousel-container {
		display: none;
	}
	#carousel-substitute {
		display: flex;
	}
	#header {
		display: none;
	}
	.post-map {
		max-height: 16rem;
	}
	#donation-jar-container {
		display: none;
	}
	.past-events-marker {
		margin-left: .75rem;
		margin-right: .75rem;
	}
	#bulletin-board .post:last-child {
		margin-bottom: 0;
	}
	#page-container {
		padding-bottom: 0;
	}
	.post-section-header {
		font-size: 1.4rem;
	}
	#donate-button {
		margin-top: 2rem;
	}
	.past-text {
		font-size: 1.4rem;
	}
	.membership-price {
		margin-bottom: .8rem;
	}
	.button {
		padding: .8rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--darker-green: #00b000;	
	}
	#hacksignia-light {
		display: none;
	}
	#hacksignia-dark {
		display: inline-block;
	}
	body {
		background-color: var(--offblack);
	}
	#header-text {
		color: var(--offwhite);
	}
	#nav-links > a {
		color: var(--offwhite);
	}
	.rule {
		background-color: var(--offwhite);
	}
	.post-text-rule {
		background-color: var(--offwhite);
	}
	.title-and-subtitle {
		color: var(--offwhite);
	}
	.x {
		background: var(--offwhite);
	}
	.x:after {
		background: var(--offwhite);
	}
	.pushpin {
		color: var(--offwhite);
	}
	.post-text {
		background-color: var(--offblack);
		color: var(--offwhite);
	}
	.button.disabled {
		background-color: var(--offblack);
	}
	.post {
		box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.47);
	}
	.post-map {
		filter: invert(100%) hue-rotate(270deg);
	}
	.button {
		--darker-green: #00a000;
		--lighter-green: #00b000;
	}
	#current-page {
		--black: var(--offwhite);
	}
	#pushpin-light {
		display: none;
	}
	#pushpin-dark {
		display: inline-block;
	}
	.calendar-link {
		background-color: var(--offblack);
	}
	.month-and-time {
		color: var(--offwhite);
	}
	.circled-date {
		background-color: var(--offwhite);
		color: var(--black);
	}
	.post-text-rule-mini {
		background-color: var(--offwhite);
	}
	.past-text {
		color: var(--offwhite);
	}
	.past-line {
		background-color: var(--offwhite);
	}
	.post-image {
		filter: brightness(95%);
	}
	#donation-jar {
		filter: brightness(75%);
	}
}
